ion-content {
    --padding-top: 2rem;
    --padding-end: 2rem;
    --padding-bottom: 2rem;
    --padding-start: 2rem;

    .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;

        align-items: center;

        ion-img.header-image {
            width: 6rem;
            height: 6rem;
            border-radius: 10px;
            overflow: hidden;
        }
    }
    ion-text.welcome-instructions {
        text-align: center;
    }
    .username-check {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        form.username-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            ion-button.username-check-button {
                --background: lime;
            }
        }
    }
}