ion-content {
    --padding-top: 2rem;
    --padding-end: 2rem;
    --padding-bottom: 2rem;
    --padding-start: 2rem;

    ion-text.welcome-instructions {
        text-align: center;
    }

    .username-check {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        form.username-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .invalid-input {
                --background: #d0242470;
                --color: #ff0000;
            }

            ion-button.username-check-button {
                --background: cyan;
                color: black;
            }
        }
        ion-text.error-text {
            color: #ff0000;
        }
    }
}