<ion-content [fullscreen]="true">
  <app-auth-header></app-auth-header>
  <div class="login">
    <ion-text class="login-instructions">
      <p>Log into your account</p>
    </ion-text>
    <form
      [formGroup]="loginForm"
      class="login-form">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input
          type="text"
          formControlName="username">    
        </ion-input>
      </ion-item>
      <ion-item
        [ngClass]="{'invalid-input' : isPasswordModified()}">
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          formControlName="password">
        </ion-input>
      </ion-item>
      @if (isPasswordModified()) {
        <ion-text>Invalid password</ion-text>
      }
      <ion-button
        type="submit"
        expand="block"
        class="login-button"
        (click)="loginAccount()">Login</ion-button>
    </form>
  </div>
</ion-content>
