ion-content {
    --padding-top: 2rem;
    --padding-end: 2rem;
    --padding-bottom: 2rem;
    --padding-start: 2rem;

    ion-text.login-instructions {
        text-align: center;
    }

    .login {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    form.login-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .invalid-input {
            --background: #d0242470;
            --color: #ff0000;
        }

        ion-button.login-button {
            --background: lime;
        }
    }
}
}